<% include ./parts/header %>
  <main>
    <section>
      <div class="section-wrapper">
        <h2>Main page</h2>
        <p>Information related to main page</p>
      </div>
    </section>
  </main>

<% include ./parts/footer %>
