<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HW3</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home page</a>
      <a href="/info">Information</a>
    </nav>
  </header>
  <main>
    <h1>Main page</h1>
  </main>
</body>
</html>
