<% include ./parts/header %>
  <main>
    <section>
      <div class="section-wrapper">
        <h1>This is information page page</h1>
        <p>You can read everything about app here</p>
      </div>
    </section>
  </main>
<% include ./parts/footer %>
