<% include ./parts/header %>

  <main>
    <section>
      <div class="section-wrapper">
        <h1>This is information page about app</h1>
        <ol>
          <li>Local login strategy realized</li>
          <li>Github login strategy realized</li>
          <li>One user schema for several strategies gives ability to multilogin in one account</li>
        </ol>
      </div>
    </section>
  </main>
<% include ./parts/footer %>
