<% include ./parts/header %>
  <main>
    <section>
      <div class="section-wrapper">
        <h2>Profile information</h2>
      <% if (user) { %>
          <p><%= user._id %></p>
      <% } else { %>
          <a href="/login">Login Local</a>
          <span>or</span>
          <a href="/sign">Register</a>
      <% } %>
    </section>
  </main>
<% include ./parts/footer %>
