<% include ./parts/header %>
  <main>
    <section>
      <div class="section-wrapper">
        <h2>Profile information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad placeat suscipit illo aliquid totam, pariatur nemo reprehenderit. Blanditiis velit ad voluptates dolore aliquam impedit, sequi ullam adipisci, non quidem illum mollitia iure. Ducimus voluptatum quos, beatae velit odio fugiat nesciunt.</p>
      </div>
    </section>
  </main>
<% include ./parts/footer %>
