<section>
  <div class="form-holder">
    <form action="/login" method="post">
      <div class="">
        <label>Username</label>
        <input type="text" class="" name="username" placeholder="Username">
      </div>
      <div class="">
        <label>Password</label>
        <input type="password" class="" name="password" placeholder="Password">
      </div>
      <button type="submit" class="success button">Login</button>
    </form>    
  </div>
</section>
