<section class="section-form">
  <div class="form-holder post">
    <form action="/newpost" method="post" autocomplete="off">
      <div class="">
        <label>Share your shit</label>
        <input type="text" name="content" placeholder="Type it">
      </div>
      <button type="submit" class="success button">Fuck yeah!</button>
    </form>
  </div>
</section>
