<section class="section-form">
  <div class="form-holder">
    <form action="/sign" method="post">
      <div class="">
        <label>Username</label>
        <input type="text" class="" name="username" placeholder="Username">
      </div>
      <div class="">
        <label>Password</label>
        <input type="password" class="" name="password" placeholder="Password">
      </div>
      <div class="">
        <label>Confirm password</label>
        <input type="password" class="" name="confirm" placeholder="Confirm password">
      </div>
      <button type="submit" class="success button">Sign in</button>
    </form>
  </div>
</section>
